.search {
    -webkit-appearance: none;
    /* border: none; */
    /* outline: none; */
    padding: 5 px;
    width: 250px;
    line-height: 30px;
    margin-bottom: 30px;
    margin-right: 5px;
    border-radius: 10px ;
  }

  input[type=text] {
    width: 20%;
    box-sizing: border-box;  
    border: 4px solid #8842d5;
    border-radius: 5px;  
}
  